<div class="container mt-4">
    <h1>PIPES <small>Angular</small></h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Uso</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Currency</td>
                <td>
                    <p>Tranforma un número en una cadena de moneda de acuerdo a reglas de configuración (región, maximo de números enteros, decimales - min y max)</p>
                </td>
                <!-- <td>{{precio | currency}}</td> -->
                <!-- <td>{{precio | currency: 'MX'}}</td> -->
                <td>{{precio | currency:'USD':'symbol':'1.1-3'}}</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Decimal</td>
                <td>
                    <p>Transforma un número para que aparezca con el número de decimales que queramos y con el número de digitos en la parte entera que se requieran</p>
                </td>
                <!-- <td>{{numero | number}}</td> -->
                <td>{{numero | number:'1.2-4'}}</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>Date</td>
                <td>
                    <p>Formateo de fechas de acuerdo a lo requerido </p>
                </td>
                <!-- <td>{{fechaActual | date}}</td> -->
                <td>{{fechaActual | date: 'dd-MM-yyyy HH:mm:ss'}}</td>
                <!-- //long, short, shortTime -->
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>Percent</td>
                <td>
                    <p>Transformar un número a su representación en porcentaje </p>
                </td>
                <td>{{numAleatorio | percent:'1.1-2'}}</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>JSON</td>
                <td>
                    <p>Obtener la representación de un objeto en formato string</p>
                </td>
                <td>{{estudiante | json}}</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>UpperCase</td>
                <td>
                    <p>Tranformar un texto a mayúsculas</p>
                </td>
                <td>{{texto | uppercase}}</td>
            </tr>
            <tr>
                <tr>
                    <th scope="row">7</th>
                    <td>LowerCase</td>
                    <td>
                        <p>Tranformar un texto a minúsculas</p>
                    </td>
                    <td>{{texto | lowercase}}</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>TitleCase</td>
                    <td>
                        <p>Capitalizar un texto (primera letra de cada palabra en mayúsculas)</p>
                    </td>
                    <td>{{texto | titlecase}}</td>
                </tr>
                <tr>
                    <th scope="row">8</th>
                    <td>Slice</td>
                    <td>

                        <p>Tomar los elementos que nos interese de un array o la parte en caso de un string</p>
                    </td>
                    <ul>
                        <li *ngFor="let animal of animales | slice:minimo:maximo">{{animal | slice:1:4}}</li>
                    </ul>
                    <input type="range" [(ngModel)]="minimo" min="0" [max]="animales.length" step="1">{{minimo}}
                    <input type="range" [(ngModel)]="maximo" min="0" [max]="animales.length" step="1">{{maximo}}
                </tr>
                <tr>
                    <th scope="row">9</th>
                    <td>Async</td>
                    <td>
                        <p>Permite resolver una promesa directamente dentro de nuestro HTML</p>
                    </td>
                    <td>Mensaje: espere 4 seg...{{promesa | async}}
                        <!-- <ul>
                            <li *ngFor="let post of promPosts | async">
                                {{post.title}}
                            </li>
                        </ul> -->
                    </td>
                </tr>
                <tr>
                    <th scope="row">10</th>
                    <td>Custom pipe (Invertir string)</td>
                    <td>
                        <p>Pipe personalizado para invertir un string</p>
                    </td>
                    <td>{{texto | reverso}}</td>
                </tr>
                <tr>
                    <th scope="row">11</th>
                    <td>Custom pipe (Capitalize)</td>
                    <td>
                        <p>Pipe personalizado para capitalizar cada palabra de una oración</p>
                    </td>
                    <td>{{texto | capitalize}}</td>
                </tr>
                <tr>
                    <th scope="row">12</th>
                    <td>Custom pipe (Num to Array)</td>
                    <td>
                        <p>Pipe personalizado para tomar un número cualquiera (sin tener que ser una colección ya definida) y convertirlo en un array para utilizar un ngFor</p>
                    </td>
                    <td>
                        <ul>
                            <li *ngFor="let num of 10 | numToArr">
                                {{num}}
                            </li>
                        </ul>
                    </td>
                </tr>

        </tbody>
    </table>
</div>